@using BeautySalon.Models
@using BeautySalon.Models.Services
@model BeautySalon.Models.Orders.BookingViewModel

@Scripts.Render("~/bundles/jqueryval")

@{
    Layout = null;
}

@{
    var forWomen = (ViewBag.ServiceList as List<ServiceViewModel>).Where(x => x.Category.GenderAffiliation == GenderAffiliation.ForWomen).ToList();
    var forMen = (ViewBag.ServiceList as List<ServiceViewModel>).Where(x => x.Category.GenderAffiliation == GenderAffiliation.ForMen).ToList();
}

<div id="topRowHeader" class="row">
    <div id="phoneInHeader" class="col-md-3 hidden-sm hidden-xs">
        <h2>
            <span class="glyphicon glyphicon-earphone"></span> (067) 777-37-73
        </h2>
        <a class="callbackFormOpen" data-toggle="modal" data-target="#Callback"><span>Перезвонить вам?</span></a>
        @if (Request.IsAuthenticated && User.IsInRole(RoleTypes.Admin))
            {
            <button class="CallbackOrdersList btn btn-primary btn-lg">Список запросов на обратный звонок</button>
        }
    </div>
    <div id="pictureInHeader" class="col-md-2 col-sm-4">
        <img class="img-responsive" src="~/images/header_brand.png">
    </div>
    <div id="titleInHeader" class="col-md-4 col-sm-8">
        <a href="#">
            <h1>Скарлет</h1>
            <p>салон красоты</p>
        </a>
    </div>
    <div id="buttonInHeader" class="col-md-3 hidden-sm hidden-xs">
        <button type="button" class="bookingServiceOpen btn roundBtn" data-toggle="modal" data-target="#BookService">Записаться в салон</button>
        @if (Request.IsAuthenticated && User.IsInRole(RoleTypes.Admin))
        {
            <button class="BookingsList btn btn-primary btn-lg">Список записей на услугу</button>
        }
    </div>
</div>

<div class="row">
    <div id="phoneInHeader2" class="col-sm-6 col-xs-6 hidden-md hidden-lg">
        <h2>
            <span class="glyphicon glyphicon-earphone"></span> (067) 777-37-73
        </h2>
        <a class="callbackFormOpen" data-toggle="modal" data-target="#Callback"><span>Перезвонить вам?</span></a>
        @if (Request.IsAuthenticated && User.IsInRole(RoleTypes.Admin))
            {
            <button class="CallbackOrdersList btn btn-primary btn-lg">Список запросов на обратный звонок</button>
        }
    </div>
    <div id="buttonInHeader2" class="col-sm-6 col-xs-6 hidden-md hidden-lg">
        <button type="button" class="bookingServiceOpen btn roundBtn" data-toggle="modal" data-target="#BookService">Записаться в салон</button>
        @if (Request.IsAuthenticated && User.IsInRole(RoleTypes.Admin))
        {
            <button class="BookingsList btn btn-primary btn-lg">Список записей на услугу</button>
        }
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="BookService" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Запись в салон</h4>
            </div>

            <form id="bookingForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="date">Выберите дату:</label>
                        <input type="datetime" class="form-control date-picker" id="date" required name="Date">
                    </div>
                    <div class="form-group">
                        <label for="time">Выберите время:</label>
                        <input type="time" class="form-control" id="time" required name="Time">
                    </div>

                    <div class="form-group">
                        <label class="radio-inline"><input type="radio" name="bookingServiceGender" class="bookingServiceGender" value="forWomen">для женщин</label>
                        <label class="radio-inline"><input type="radio" name="bookingServiceGender" class="bookingServiceGender" value="forMen">для мужчин</label>
                    </div>

                    <div class="form-group">
                        <label>Выберите вид услуги:</label>
                        <select class="form-control" id="bookingServiceCategory"></select>
                    </div>
                    
                    <div class="form-group">
                        <label>Выберите услугу:</label>
                        <select class="form-control" id="bookingService" name="ServiceId"></select>
                    </div>

                    <div class="form-group">
                        <label>Имя</label>
                        <input type="text" class="form-control" placeholder="Как к вам можно обращаться?" required name="Name">
                    </div>
                    <div class="form-group">
                        <label>Контактный номер</label>
                        <input type="tel" class="form-control" placeholder="0123456789" required name="PhoneNumber">
                    </div>
                    <div id="bookingErrors"></div>
                </div>
                <div class="modal-footer">
                    <button id="submitBooking" type="button" class="btn roundBtn">Отправить</button>
                    <button id="closeBooking" type="button" class="btn roundBtn" data-dismiss="modal">Закрыть</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="Callback" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Обратный звонок</h4>
            </div>

            <form id="callbackForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Имя</label>
                        <input type="text" class="form-control" placeholder="Как к вам можно обращаться?" required name="Name">
                    </div>
                    <div class="form-group">
                        <label>Контактный номер</label>
                        <input type="tel" class="form-control" placeholder="0123456789" required name="PhoneNumber">
                    </div>
                    <div id="callbackErrors"></div>
                </div>
                <div class="modal-footer">
                    <button id="submitCallback" type="button" class="btn roundBtn">Отправить</button>
                    <button type="button" class="btn roundBtn" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var callbackModalBody = $("#callbackForm .modal-body").clone();
        var callbackModalFooter = $("#callbackForm .modal-footer").clone();

        var bookingModalBody = $("#bookingForm .modal-body").clone();
        var bookingModalFooter = $("#bookingForm .modal-footer").clone();

        $('.date-picker').datepicker($.datepicker.regional["ru"]);

        $("#submitCallback").click(function() {
            //$("#callbackForm").validate();

            //if ($("[name='Name']").valid() && $("[name='PhoneNumber']").valid()) {
            var formdata = $("#callbackForm").serialize();

            $("#callbackErrors").empty();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateCallbackOrder")',
                    data: formdata,
                    success: function(response) {
                        if (response.response === "OK") {
                            $("#callbackForm .modal-body").empty();
                            $("#callbackForm .modal-body").append("<p>Ваш запрос был отправлен</p>");
                            $("#submitCallback").remove();
                        } else {
                            $.each(response.msg,
                                function(index, value) {
                                    $("#callbackErrors").append("<p class='text-danger'>"+ value +"</p>");
                                });
                            //alert("Введены не корректные данные: " + response.msg[0]);
                        }
                    }
                });
            //}
        });



        $(".callbackFormOpen").click(function() {
            if ($("#submitCallback").length === 0) {
                $("#callbackForm .modal-body").replaceWith(callbackModalBody);
                $("#callbackForm .modal-footer").replaceWith(callbackModalFooter);
            }
        });

        $(".CallbackOrdersList").click(function () {
            location.href = '@Url.Action("CallbackOrdersList", "Admin")';
        });

        var forWomen = @Html.Raw(Json.Encode(forWomen.Select(x => new {
                      Id = x.Id,
                      Title = x.Category.Title,
                      Services = x.Services.Select(y => new { Id = y.Id, Title = y.Title })
                  })));
        var forMen = @Html.Raw(Json.Encode(forMen.Select(x => new {
                      Id = x.Id,
                      Title = x.Category.Title,
                      Services = x.Services.Select(y => new { Id = y.Id, Title = y.Title })
                  })));
        var currentCategoryList;

        $(".bookingServiceGender").change(function () {
            var $dropdown = $("#bookingServiceCategory");
            if (this.value === "forWomen") {
                currentCategoryList = forWomen;
            } else {
                currentCategoryList = forMen;
            };
            $dropdown.empty();
            $.each(currentCategoryList, function () {
                $dropdown.append($("<option />").val(this.Id).text(this.Title));
            });
            $dropdown.change();
        });

        $("#bookingServiceCategory").change(function () {
            var $dropdown = $("#bookingService");
            var currentId = this.value;
            var list = $.grep(currentCategoryList, function(el) {
                return el.Id == currentId;
            })[0].Services;
            $dropdown.empty();
            $.each(list, function () {
                $dropdown.append($("<option />").val(this.Id).text(this.Title));
            });
        });

        $(".bookingServiceGender[value='forWomen']").attr('checked', true).trigger("change");
        
        $("#submitBooking").click(function() {
            var formdata = $("#bookingForm").serialize();

            $("#bookingErrors").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateBookingService")',
                data: formdata,
                success: function(response) {
                    if (response.response === "OK") {
                        $("#bookingForm .modal-body").empty();
                        $("#bookingForm .modal-body").append("<p>Ваш запрос был отправлен</p>");
                        $("#submitBooking").remove();
                    } else {
                        $.each(response.msg,
                            function(index, value) {
                                $("#bookingErrors").append("<p class='text-danger'>"+ value +"</p>");
                            });
                    }
                }
            });
        });

        $(".bookingServiceOpen").click(function() {
            if ($("#submitBooking").length === 0) {
                $("#bookingForm .modal-body").replaceWith(bookingModalBody);
                $("#bookingForm .modal-footer").replaceWith(bookingModalFooter);
                $('.date-picker').datepicker($.datepicker.regional["ru"]);
            }
        });

        $(".BookingsList").click(function () {
            location.href = '@Url.Action("BookingsList", "Admin")';
        });

    });
</script>