@using BeautySalon.Models
@using BeautySalon.Models.Feedbacks
@model List<BeautySalon.Models.Feedbacks.FeedbackViewModel>
@{
    ViewBag.Title = "Отзывы";
}

<div class="col-sm-10 col-sm-offset-1">
    <h2>@ViewBag.Title</h2>
    <div class="panel-group">
        @foreach (var feedback in Model)
        {
            <div class="panel panel-primary feedback" data-id="@feedback.Id">
                <div class="panel-heading">@feedback.UserName</div>
                <div class="panel-body">@feedback.Text</div>
                @if (Request.IsAuthenticated && User.IsInRole(RoleTypes.Admin))
                {
                    <div class="panel-footer text-right">
                        @if (!feedback.IsApproved)
                        {
                            <button class="btn btn-success btn-lg approve" data-id="@feedback.Id">Одобрить</button>
                        }
                        <button class="btn btn-danger btn-lg delete" data-id="@feedback.Id">Удалить</button>
                    </div>
                }
            </div>
        }
    </div>
    @if (!Request.IsAuthenticated)
    {
        <p>Чтобы оставить свой отзыв <a href="@Url.Action("Register", "Account")">зарегистрируйтесь</a> или <a href="@Url.Action("Login", "Account")">авторизуйтесь</a>, пожалуйста.</p>
    }
    else
    {
        @Html.Partial("_Create", new FeedbackViewModel());
    }
</div>

<div class="modal fade" id="feedbackApprovedModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-body">
                    <p>Отзыв добавлен</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $(".delete").click(function() {
            var id = $(this).attr("data-id");
            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteFeedback", "Admin")',
                    data: {id: id},
                    success: function(response) {
                    if (response.response === "OK") {
                        $(".feedback[data-id=" + id + "]").remove();
                    } else {
                        alert("Ошибка");
                    }
                }
            });
        });

        $(".approve").click(function() {
            var id = $(this).attr("data-id");
            var thisBtn = this;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ApproveFeedback", "Admin")',
                data: {id: id},
                success: function(response) {
                    if (response.response === "OK") {
                        $('#feedbackApprovedModal').modal('show');
                        $(thisBtn).remove();
                        setTimeout(function(){
                            $("#feedbackApprovedModal").modal('hide');
                        }, 700);
                    } else {
                        alert("Ошибка");
                    }
                }
            });
        });
    });
</script>