@using BeautySalon.Models.Feedbacks
@model List<BeautySalon.Models.Feedbacks.FeedbackViewModel>
@{
    ViewBag.Title = "Отзывы";
}

<div class="col-sm-10 col-sm-offset-1">
    <h2>@ViewBag.Title</h2>
    <div class="panel-group">
        @foreach (var feedback in Model)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">@feedback.UserName</div>
                <div class="panel-body">@feedback.Text</div>
            </div>
        }
    </div>
    @if (!Request.IsAuthenticated)
    {
        <p>Чтобы оставить свой отзыв <a href="@Url.Action("Register", "Account")">зарегистрируйтесь</a> или <a href="@Url.Action("Login", "Account")">авторизуйтесь</a>, пожалуйста.</p>
    }
    else
    {
        @Html.Partial("_Create", new FeedbackViewModel());
    }
</div>

