@using System.Security.Claims
@using System.Threading
@using BeautySalon.Helpers
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                var identity = (ClaimsPrincipal)Thread.CurrentPrincipal;
                string name = identity.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).Last();
            }
            @Html.ActionLink("Привет, " + name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="@Html.ActiveLink(actions: "Register", controllers: "Account")">
            <a href="@Url.Action("Register", "Account")" id="registerLink">Регистрация</a>
        </li>
        <li class="@Html.ActiveLink(actions: "Login", controllers: "Account")">
            <a href="@Url.Action("Login", "Account")" id="registerLink">Вход</a>
        </li>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>*@
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>*@
    </ul>
}
