@using System.Web.Configuration
@using BeautySalon.Models
@model List<BeautySalon.Models.Promotions.PromotionViewModel>

<div id="page-content" class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            @foreach (var promotion in Model)
            {
                <div class="row">
                    <h3>@promotion.Title</h3>

                    <p>@(promotion.StartDate?.ToString("dd.MM.yyyy")) - @(promotion.EndDate?.ToString("dd.MM.yyyy"))</p>
                    <div class="col-lg-6 col-md-12">
                        <div id="@("promotionCarousel" + promotion.Id)" class="carousel slide promotionCarousel" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                @for (int i = 0; i < promotion.Images.Count; i++)
                                {
                                    <li data-target="#@("promotionCarousel" + promotion.Id)" data-slide-to="@i" class=@(i == 0 ? "active" : "")></li>
                                }
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                @for (int i = 0; i < promotion.Images.Count; i++)
                                {
                                    <div class="item @(i == 0 ? "active" : "")">
                                        <img src="@(WebConfigurationManager.AppSettings["ImagesFolder"] + promotion.Images[i].Path)" style="width: 100%;">
                                    </div>
                                }
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#@("promotionCarousel" + promotion.Id)" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#@("promotionCarousel" + promotion.Id)" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 promotionDescription collapsed" data-id="@promotion.Id">@Html.Raw(promotion.Description)</div>
                </div>

                <div class="col-xs-12 text-right">
                    <button class="btn roundBtn readMoreBtn" data-id="@promotion.Id">Подробнее</button>
                    @if (Request.IsAuthenticated && User.IsInRole(RoleTypes.Admin))
                    {
                    <button class="btn btn-info btn-lg edit" data-id="@promotion.Id">Редактировать</button>
                    }
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".edit").click(function () {
            location.href = '@Url.Action("EditPromotion", "Admin")/' + $(this).attr("data-id");
        });

        $(".readMoreBtn").click(function () {
            $($(".promotionDescription[data-id=" + $(this).attr("data-id") + "]")[0]).toggleClass("collapsed");
            $(this).text(function(i, text) {
                return text === "Подробнее" ? "Свернуть" : "Подробнее";
            });
        });
    });
</script>