@using BeautySalon.Models
@model BeautySalon.Models.PageViewModel<BeautySalon.Models.Promotions.PromotionViewModel>

@{
    ViewBag.Title = "Акции и новости";
}

@if (Request.IsAuthenticated && User.IsInRole(RoleTypes.Admin))
{
    <div class="container text-center">
        <button class="btn btn-primary btn-lg create">Добавить новую запись</button>
    </div>
}

@Html.Partial("_PromotionList", Model.Data)

<div class="container-fluid paginator text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.Count; i++)
            {
            <li class="@(i == 1 ? "active" : "")"><a class="page @(i == 1 ? "active" : "")" data-id="@i" href="#">@i</a></li>
        }
    </ul>
</div>

<script>
    $(function () {
        $(".create").click(function () {
            location.href = '@Url.Action("CreatePromotion", "Admin")';
        });
    });


    $(function() {
        $(".page").click(function() {
            if ($(this).hasClass("active")) return false;

            $(".active").removeClass("active");
            let page = $(this).attr("data-id");
            $(this).addClass("active");
            this.parentNode.classList.add("active");

            $.ajax({
                type: "get",
                url: '@Url.Action("GetPage")',
                data: {
                    CountPerPage: 5,
                    PageNumber: page
                },
                success: function(response) {
                    $("#page-content").html(response);
                    window.scrollTo(0, 0);
                }
            });
            return false;
        });
    });
</script>